body {
    /*padding-top: 60px; !* 60px to make the container go all the way to the bottom of the topbar *!*/
    /*padding-bottom: 40px;*/
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.projects-table td {
    vertical-align: middle !important;
}

.projects-table tr, .projects-table th {
    text-align: center;
}

.btn-logout {
    width: 100%;
    padding: 3px 20px !important;
    text-align: left !important;
    margin-top: 12px;
}

.footer {
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #baefc3;
}

.header {
    /*padding-top: 30px;*/
    /*padding-bottom: 10px;*/
    background-color: #baefc3;
}

.header-table-row {
    background-color: #80ce83;
}

.table-inner td, .table-inner th{
    width: 100%;
    border:1px solid #86db8f !important;
    padding: 3px;
}