<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

<h:head>
    <title>500</title>
    <h:outputStylesheet library="css" name="core.css"/>
</h:head>
<h:body style="background: #e0ffe6">
    <ui:insert name="header">
        <ui:include src="../templates/header.xhtml"/>
    </ui:insert>
    <div class="container">
        <div class="row">
            <div class="col col-lg-12" style="text-align: center;">
                <div class="title">
                    <h1>500 Internal Server Error</h1>
                </div>
                <div class="center">
                    <h:graphicImage styleClass="" height="400" width="600"
                                    value="/resources/images/Integrate-In-Jenkins.png"/>
                </div>
            </div>
        </div>
    </div>
    <ui:insert name="footer">
        <ui:include src="../templates/footer.xhtml"/>
    </ui:insert>
</h:body>
</html>
