<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<body>
<ui:composition>
    <div class="container">
        <h1>#{msg['lang.page_name']}</h1>
        <h3>#{msg['thesis']}</h3>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                <h5 class="list-group-item-heading">#{msg['supervisor']}</h5>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <p class="list-group-item-text">Ing. Csaba Szabó, PhD.</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                <h5 class="list-group-item-heading">#{msg['instructions']}</h5>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <p class="list-group-item-text">1. Naštudovať problematiku testovania softvéru.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <p class="list-group-item-text">2. Naštudovať problematiku cloud-u.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <p class="list-group-item-text">3. Navrhnúť testvér pre regresné testovanie ako službu cloud-u.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <p class="list-group-item-text">4. Implementovať navrhnutú službu</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <p class="list-group-item-text">5. Vypracovať dokumentáciu podľa pokynov vedúceho práce</p>
            </a>
        </div>
    </div>
</ui:composition>
</body>
</html>