<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<body>
<ui:composition>
    <div class="footer" align="center">
        <div>
            <p>#{msg['lang.created']} bc. Juraj Horbaľ<br/>
                © Copyright 2017. #{msg['lang.copyright']}</p>
        </div>
    </div>
    <h:outputScript library="webjars" name="jquery/2.1.4/jquery.min.js"/>
    <h:outputScript library="webjars" name="bootstrap/3.3.6/js/bootstrap.min.js"/>
    <h:outputScript library="js" name="/lib/jquery.dataTables.min.js"/>
    <h:outputScript library="js" name="/lib/dataTables.bootstrap.min.js"/>
    <h:outputScript library="js" name="/lib/dataTables.responsive.min.js"/>
    <h:outputScript library="js" name="/lib/responsive.bootstrap.min.js"/>
    <h:outputScript library="js" name="/core.js"/>
</ui:composition>
</body>
</html>