<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition>
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>
    <h:outputStylesheet library="webjars" name="font-awesome/4.5.0/css/font-awesome.min-jsf.css"/>
    <h:outputStylesheet library="css" name="core.css"/>
    <f:view locale="#{language.localeCode}"/>
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">#{msg['lang.page_name']}</a>
                </div>
                <ul class="nav navbar-nav">
                    <c:if test="#{!adminBean.isAdmin()}">
                    <li id="home" class="header-section active">
                        <a href="/"><h:outputText value="#{msg['lang.home']}"/></a>
                    </li>
                    </c:if>
                    <c:if test="#{adminBean.isAdmin()}">
                        <li id="users" class="header-section"><a href="/users"><h:outputText
                                value="#{msg['lang.view']}"/></a></li>
                    </c:if>
                    <li id="about" class="header-section">
                        <a href="/about"><h:outputText value="#{msg['lang.about']}"/></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <h:form>
                                <h:panelGrid columns="2">

                                    <h:outputText value="#{msg['lang.language']}"/>
                                    <h:selectOneMenu value="#{language.localeCode}" onchange="submit()"
                                                     valueChangeListener="#{language.countryLocaleCodeChanged}">
                                        <f:selectItems value="#{language.countriesInMap}"/>
                                    </h:selectOneMenu>

                                </h:panelGrid>

                            </h:form>
                        </a>
                    </li>
                    <c:if test="#{request.remoteUser.contains('@')}">
                        <li>
                            <form action="/appLogout" method="POST">
                                <input class="btn btn-logout" type="submit"
                                       value="#{msg['lang.logout']} #{request.remoteUser}"/>
                                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                            </form>
                        </li>
                    </c:if>
                    <c:if test="#{!request.remoteUser.contains('@')}">
                        <c:choose>
                            <c:when test="#{request.servletPath.equals('/signup.xhtml')}">
                                <li><a href="/"><span class="glyphicon glyphicon-user"/>
                                    #{msg['lang.login']}
                                </a></li>
                            </c:when>
                            <c:otherwise>
                                <li><a href="/reg"><span class="glyphicon glyphicon-user"/>
                                    #{msg['lang.register']}
                                </a></li>
                            </c:otherwise>
                        </c:choose>
                    </c:if>
                </ul>
            </div>
        </nav>
    </div>

</ui:composition>
<!--</body>-->
</html>