<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<h:head>
    <title>#{msg['lang.page_name']}</title>
</h:head>
<body>
<ui:insert name="header">
    <ui:include src="header.xhtml"/>
</ui:insert>

<ui:insert name="content">
    <ui:include src="content.xhtml"/>
</ui:insert>

<ui:insert name="footer">
    <ui:include src="footer.xhtml"/>
</ui:insert>
</body>
</html>