<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>#{msg['lang.page_name']}</title>
</h:head>
<h:body>
    <ui:insert name="header">
        <ui:include src="templates/header.xhtml"/>
    </ui:insert>


    <div class="container">
        <font color="red">
            <h:outputLabel value="${SPRING_SECURITY_LAST_EXCEPTION.message}"/>
        </font>

        <form class="form-narrow form-horizontal" action="/appLogin" method="post">
            <h3>#{msg['lang.login']}</h3>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="email" name="app_username"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">#{msg['lang.password']}</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="heslo"
                           name="app_password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_spring_security_remember_me"/>#{msg['lang.remember']}
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-lg-offset-2 col-lg-10">
                <input type="submit" value="#{msg['lang.login']}" class="btn btn-default btn-block"/>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p style="margin-top: 10px;">#{msg['lang.areUnew'] } <a href="/signup"> #{ msg['lang.register']}</a></p>
                </div>
            </div>
            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
        </form>
    </div>
    <ui:insert name="footer">
        <ui:include src="templates/footer.xhtml"/>
    </ui:insert>
</h:body>
</html>