<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<!--<f:loadBundle basename="com.j3ltd.web.messages.ApplicationMessages" var="msg"/>-->

<h:head>
    <title><h:outputText value="#{msg['lang.register']}"/></title>
</h:head>
<h:body>
    <ui:insert name="header">
        <ui:include src="templates/header.xhtml"/>
    </ui:insert>

    <c:if test="#{request.remoteUser.contains('@')}">

    </c:if>

    <div class="container">
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li>-->
                <!--<form action="/" method="post">-->
                    <!--<input class="btn btn-logout" type="submit" value="#{msg['lang.login']}"/>-->
                <!--</form>-->
            <!--</li>-->
        <!--</ul>-->
        <div class="row centered-form">

            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">#{msg['lang.registerNow']}
                            <small>#{msg['lang.free']}</small>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- Register Form -->
                        <h:form role="form" styleClass="registration-form"
                                style="width: 400px; margin: 0 auto;">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <!--  User name -->
                                    <div class="form-group">
                                        <h:outputLabel for="name" value="#{msg['lang.userName']}"/>
                                        <h:inputText id="name" value="#{signupForm.name}"
                                                     styleClass="form-first-name form-control">
                                            <!--validatorMessage="#{msg['lang.userNameValidator']}"-->
                                            <!--<f:validateLength minimum="4" maximum="16" for="name"/>-->
                                        </h:inputText>
                                        <h:message for="name"/>
                                    </div>
                                </div>
                                <!--uuid-->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <h:outputLabel for="team_uuid" value="#{msg['uuid_team']}"/>
                                        <h:inputText id="team_uuid" value="#{signupForm.team_uuid}"
                                                     styleClass="form-control">
                                            <!--validatorMessage="#{msg['lang.teamValidator']}"-->
                                            <!--<f:validateLength minimum="4" maximum="16" for="name"/>-->
                                        </h:inputText>
                                        <h:message for="team_uuid"/>
                                    </div>
                                </div>
                            </div>

                            <!--Password-->
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <h:outputLabel for="password" value="#{msg['lang.password']}"/>
                                        <h:inputSecret id="password" value="#{signupForm.password}"
                                                       required="true"
                                                       styleClass="form-control"
                                                       requiredMessage="">
                                        </h:inputSecret>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <h:outputLabel for="confirm-password"
                                                       value="#{msg['lang.confirm']} #{msg['lang.password']}"/>
                                        <h:inputSecret id="confirm-password" value="#{signupForm.password}"
                                                       required="true"
                                                       styleClass="form-control"
                                                       requiredMessage="">
                                        </h:inputSecret>
                                    </div>
                                </div>
                            </div>
                            <!--  Email -->
                            <div class="form-group">
                                <h:outputLabel for="email" value="#{msg['lang.email']}"/>
                                <h:inputText id="email" value="#{signupForm.email}"
                                             required="true"
                                             styleClass="form-first-name form-control"
                                             validatorMessage="#{msg['lang.emailValidator']}"
                                             requiredMessage="em@gmail.com" size="40">
                                    <!-- Email Validation -->
                                    <f:validateRegex
                                            pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                </h:inputText>
                                <h:message for="email"/>
                            </div>
                            <h:commandButton id="send" value="#{msg['lang.register']}" type="submit"
                                             action="#{signupForm.createAccount}" class="btn btn-primary"/>
                            <h:message for="send"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ui:insert name="footer">
        <ui:include src="templates/footer.xhtml"/>
    </ui:insert>
</h:body>
</html>