<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Regression Testing as a Service</title>
    <!--<h:outputStylesheet library="css" name="bootstrap.min.css"/>-->
    <!--<h:outputStylesheet library="css" name="core.css"/>-->
    <!--<h:outputScript library="js" name="/lib/jquery.min.js"/>-->
    <!--<h:outputScript library="js" name="/lib/bootstrap.min.js"/>-->
    <!--<h:outputScript library="js" name="/lib/jquery.dataTables.min.js"/>-->
    <!--<h:outputScript library="js" name="/lib/dataTables.bootstrap.min.js"/>-->
    <!--<h:outputScript library="js" name="/lib/dataTables.responsive.min.js"/>-->
    <!--<h:outputScript library="js" name="/lib/responsive.bootstrap.min.js"/>-->
</h:head>


<h:body>
    <ui:insert name="header">
        <ui:include src="../templates/header.xhtml"/>
    </ui:insert>
    <div class="container">
        <!--<ul class="nav nav-tabs">-->
        <!--<li class="active"><a data-toggle="tab" href="#home-projects">Projekty</a></li>-->
        <!--<li><a data-toggle="tab" href="#home-teams">Týmy</a></li>-->
        <!--</ul>-->
        <div class="tab-content">
            <div id="home-projects" class="tab-pane fade in active">
                <div class="table-responsive">
                    <h:dataTable value="#{adminBean.teams}" var="team"
                                 styleClass="table table-hover"
                                 headerClass="header-table-row"
                                 rowClasses="row-one,row-two">
                        <h:column>
                            <f:facet name="header">#{msg['home.teamName']}</f:facet>
                            #{team.teamName}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Jenkins</f:facet>
                            <a href="#{team.jenkins.urlForJenkins}">#{team.jenkins.urlForJenkins}</a>
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{msg['members']}</f:facet>
                            <h:dataTable value="#{team.accounts}" var="user"
                                         styleClass="table-inner">
                                <h:column>
                                    <f:facet name="header">#{msg['name']}</f:facet>
                                    #{user.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Email</f:facet>
                                    #{user.email}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">#{msg['role']}</f:facet>
                                    #{user.role}
                                </h:column>
                            </h:dataTable>
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{msg['projects']}</f:facet>
                            <h:dataTable value="#{team.projects}" var="project" styleClass="table-inner">
                                <h:column>
                                    <f:facet name="header">#{msg['title']}</f:facet>
                                    #{project.projectName}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">#{msg['home.link']}</f:facet>
                                    #{project.link}
                                </h:column>
                            </h:dataTable>
                        </h:column>
                    </h:dataTable>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
    <ui:insert name="footer">
        <ui:include src="../templates/footer.xhtml"/>
    </ui:insert>
</h:body>
</html>