<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>#{msg['lang.page_name'] }</title>
    <!--<h:outputStylesheet library="css" name="core.css"/>-->
</h:head>


<h:body>
    <ui:insert name="header">
        <ui:include src="../templates/header.xhtml"/>
    </ui:insert>
    <div class="container">
        <div class="tab-content">
            <div class="row">
                <div class="table-responsive col-sm-12">
                    <h:dataTable value="#{teamBean.projects}" var="project"
                                 styleClass="table table-striped"
                                 headerClass="header-table-row"
                                 rowClasses="row-one,row-two">
                        <h:column>
                            <f:facet name="header">#{msg['home.projectName']}</f:facet>
                            #{project.projectName}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{msg['home.link']}</f:facet>
                            <a target="_blank" href="#{project.link}">#{project.link}</a>
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{msg['lang.team_uuid']}</f:facet>
                            #{project.team.teamName}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Jenkins</f:facet>
                            <h:panelGrid
                                    rendered="#{!project.team.jenkins.isRuning() and project.team.admin==teamBean.actualId}">
                                <h:form>
                                    <h:commandButton action="#{jenkinsBean.startJenkins(project.team.idTeam)}"
                                                     onclick="setTimeout('this.disabled = true;', 50);"
                                                     value="#{msg[jenkinsBean.getJenkinsStatus(project.team.idTeam)]}"
                                                     styleClass="#{jenkinsBean.getJenkinsStatusClasses(project.team.idTeam)}"/>
                                </h:form>
                            </h:panelGrid>
                            <h:panelGrid
                                    rendered="#{!project.team.jenkins.isRuning() and project.team.admin!=teamBean.actualId}">
                                <span>#{msg['home.down']}</span>
                            </h:panelGrid>
                            <h:panelGrid rendered="#{project.team.jenkins.isRuning()}">
                                <a target="_blank" href="#{project.team.jenkins.urlForJenkins}">#{msg['home.page']}</a>
                                <div>
                                    <a class="jenkins-#{project.team.jenkins.idJenkins}"
                                       onclick="$('.jenkins-#{project.team.jenkins.idJenkins}').toggle()"><span
                                            class="glyphicon glyphicon-menu-down"/>#{msg['show']}</a>
                                    <a class="jenkins-#{project.team.jenkins.idJenkins}" style="display: none"
                                       onclick="$('.jenkins-#{project.team.jenkins.idJenkins}').toggle()"><span
                                            class="glyphicon glyphicon-menu-up"/>#{msg['hide']}</a>
                                </div>
                                <h:panelGrid
                                        rendered="#{project.team.admin==teamBean.actualId}">
                                    <h:form style="display: none" class="jenkins-#{project.team.jenkins.idJenkins}">
                                        <h:commandButton action="#{jenkinsBean.shutDown(project.team.idTeam)}"
                                                         onclick="setTimeout('this.disabled = true;', 50);"
                                                         value="#{msg['shut_down']}"
                                                         styleClass="#{jenkinsBean.getJenkinsStatusClasses(project.team.idTeam)}"/>
                                    </h:form>
                                    <h:form style="display: none" class="jenkins-#{project.team.jenkins.idJenkins}">
                                        <h:commandButton action="#{jenkinsBean.restartJenkins(project.team.idTeam)}"
                                                         onclick="setTimeout('this.disabled = true;', 50);"
                                                         value="#{msg['restart']}"
                                                         styleClass="#{jenkinsBean.getJenkinsStatusClasses(project.team.idTeam)}"/>
                                    </h:form>
                                </h:panelGrid>
                            </h:panelGrid>

                            <h:panelGrid
                                    rendered="#{project.team.jenkins.isPossibleSendMail() and project.team.admin==teamBean.actualId}">
                                <h:form>
                                    <h:commandLink
                                            title="#{msg['home.sendKey']}"
                                            type="submit"
                                            styleClass=""
                                            onclick="setTimeout('this.disabled = true;', 50);"
                                            action="#{jenkinsBean.sendJenkinsSecret(project.team.idTeam)}"
                                    >
                                        <span class='glyphicon glyphicon-send'/>
                                    </h:commandLink>
                                </h:form>
                            </h:panelGrid>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Jenkins CLI</f:facet>
                            <h:panelGrid
                                    rendered="#{project.team.jenkins.isRuning() and project.team.admin==teamBean.actualId}">
                                <!--<div>-->
                                <a class="cli-#{project.team.jenkins.idJenkins}"
                                   onclick="$('.cli-#{project.team.jenkins.idJenkins}').toggle()"><span
                                        class="glyphicon glyphicon-menu-down"/>#{msg['show']}</a>
                                <a class="cli-#{project.team.jenkins.idJenkins}" style="display: none"
                                   onclick="$('.cli-#{project.team.jenkins.idJenkins}').toggle()"><span
                                        class="glyphicon glyphicon-menu-up"/>#{msg['hide']}</a>
                                <!--</div>-->
                                <h:form role="form" style="display: none"
                                        styleClass="cli-#{project.team.jenkins.idJenkins}">
                                    <h:outputText value="#{msg['command']}:"/>
                                    <h:selectOneMenu value="#{jenkinsCliBean.command}">
                                        <f:selectItems value="#{jenkinsCliBean.commands}"/>
                                    </h:selectOneMenu>
                                    <br/>
                                    <h:outputLabel for="parameter#{project.team.jenkins.idJenkins}"
                                                   value="Parameter:"/>
                                    <h:inputText id="parameter#{project.team.jenkins.idJenkins}"
                                                 required="true"
                                                 value="#{jenkinsCliBean.parameter}">
                                    </h:inputText>
                                    <br/>
                                    <h:outputLabel for="user#{project.team.jenkins.idJenkins}"
                                                   value="#{msg['lang.userName']}:"/>
                                    <h:inputText id="user#{project.team.jenkins.idJenkins}"
                                                 required="true"
                                                 value="#{jenkinsCliBean.user}">
                                    </h:inputText>
                                    <br/>
                                    <h:outputLabel for="password#{project.team.jenkins.idJenkins}"
                                                   value="#{msg['lang.password']}:"/>
                                    <h:inputSecret id="password#{project.team.jenkins.idJenkins}"
                                                   required="true"
                                                   value="#{jenkinsCliBean.user}">
                                    </h:inputSecret>
                                    <br/>
                                    <h:commandButton id="send#{project.team.jenkins.idJenkins}"
                                                     type="submit"
                                                     action="#{jenkinsCliBean.executeCliCommand(project.team.idTeam)}"
                                                     value="#{msg['run_command']}"/>
                                    <h:message for="send#{project.team.jenkins.idJenkins}"/>
                                </h:form>
                                <!--</div>-->
                            </h:panelGrid>
                        </h:column>
                    </h:dataTable>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="table-responsive col-sm-12">
                    <h:dataTable value="#{teamBean.teams}" var="team"
                                 styleClass="table table-striped"
                                 headerClass="header-table-row"
                                 rowClasses="row-one,row-two">
                        <h:column>
                            <f:facet name="header">#{msg['home.teamName']}</f:facet>
                            #{team.teamName}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Jenkins</f:facet>
                            <h:panelGrid rendered="#{team.jenkins.isRuning()}">
                                <a target="_blank" href="#{team.jenkins.urlForJenkins}">#{msg['home.page']}</a>
                            </h:panelGrid>
                            <h:panelGrid rendered="#{!team.jenkins.isRuning()}">
                                <span>#{msg['home.down']}</span>
                            </h:panelGrid>

                        </h:column>

                        <h:column>
                            <f:facet name="header">#{msg['members']}</f:facet>
                            <h:panelGrid
                                    rendered="#{team.admin==teamBean.actualId}">
                                <a title="#{msg['show']}"
                                   onclick="$('.users-#{team.idTeam}').toggle()"><span
                                        class="glyphicon glyphicon-user"/></a>
                                <h:dataTable value="#{team.accounts}" var="user"
                                             styleClass="table-inner users-#{team.idTeam}"
                                             style="display: none">
                                    <h:column>
                                        <f:facet name="header">#{msg['name']}</f:facet>
                                        #{user.name}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Email</f:facet>
                                        #{user.email}
                                    </h:column>
                                </h:dataTable>
                            </h:panelGrid>
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{msg['home.addMember']}</f:facet>
                            <h:panelGrid
                                    rendered="#{team.admin==teamBean.actualId}">
                                <h:form role="form">
                                    <h:outputLabel for="email#{team.idTeam}" value="#{msg['lang.email']}:"/>
                                    <h:inputText id="email#{team.idTeam}"
                                                 required="true"
                                                 validatorMessage="#{msg['lang.emailValidator']}"
                                                 value="#{teamBean.email}">
                                        <!-- Email Validation -->
                                        <f:validateRegex for="email#{team.idTeam}"
                                                         pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                    </h:inputText>
                                    <h:commandButton id="send#{team.idTeam}"
                                                     type="submit"
                                                     action="#{teamBean.sendEmailForTeamMember(team.uuid, team.teamName)}"
                                                     value="#{msg['home.invite']}"/>
                                    <h:message for="send#{team.idTeam}"/>
                                    <h:message for="email#{team.idTeam}"/>
                                </h:form>
                            </h:panelGrid>
                        </h:column>
                    </h:dataTable>

                    <h:form role="form">
                        <h:outputLabel for="addTeamId" value="#{msg['uuid_team']}: "/>
                        <h:inputText id="addTeamId"
                                     required="true"
                                     value="#{teamBean.uuid}">
                        </h:inputText>
                        <h:commandButton id="addTeam"
                                         type="submit"
                                         action="#{teamBean.addTeamMember}"
                                         value="#{msg['home.addTeam']}"/>
                        <h:message for="addTeam"/>
                        <h:message for="addTeamId"/>
                    </h:form>
                    <br/>
                    <h:form id="makeNewTeam" role="form">
                        <h:outputLabel for="newTeamName" value="#{msg['home.newTeamName']}: "/>
                        <h:inputText id="newTeamName"
                                     required="true"
                                     validatorMessage="#{msg['lang.teamValidator']}"
                                     value="#{teamBean.teamName}">
                            <f:validateLength minimum="4" maximum="16" for="newTeamName"/>
                        </h:inputText>
                        <h:commandButton id="createTeam"
                                         type="submit"
                                         action="#{teamBean.createTeam}"
                                         value="#{msg['home.createTeam']}"/>
                        <h:message for="createTeam"/>
                        <h:message for="newTeamName"/>
                    </h:form>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    <ui:insert name="footer">
        <ui:include src="../templates/footer.xhtml"/>
    </ui:insert>

    <!-- load js at bottom for faster loading-->
    <h:outputScript library="js" name="/team.js"/>

</h:body>
</html>